@tailwind base;
@tailwind components;
@tailwind utilities;


/* Keyframe animations */
@keyframes bounce-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(.45);
    
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spin-full {
  0% {
    transform: rotate(0deg);    
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Applying animations */
.animate-bounce-in {
  animation: bounce-in 0.5s ease-out;
}

.animate-spin {
  animation: spin 2s ease-in-out;
}

.animate-spin-infinite {
  animation: spin-full .9s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s ease-in-out;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #88888800;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (max-width: 700px) {

  .main-navigation {
    transform: translateX(-100%);
  }

  .main-navigation.open {
    transform: translateX(0);
  }

}

.status-bar {
  background-color: #4CAF50;
  color: #ffffff;
  text-align: center;
}

.map-container {
  position: relative;
}

.map-speed-dial {
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 999;
}

.map-container,
.map-stuctures-container {
  height: 37rem;
}

.map-container-sm {
  /* height: 15rem; */
}

@media (max-width: 550px) {

  .map-container,
  .map-stuctures-container {
    height: 45rem;
  }
}

.map-structure-panel {
  height: auto;
  width: 500px;
}

@media (max-width: 550px) {

  .map-structure-panel {
    height: 450px;
    width: 100%;
    left: 0;
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
  }
}



.im-snapping {

  scroll-snap-type: both mandatory;
}

.im-snapping>li,
.im-snapping>div {
  scroll-snap-align: start;
}

.inspections-navigation {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.im-marker {
  /* Other styles remain the same */
  -webkit-mask: url('/location-pin.svg') no-repeat 50% 50%;
  mask: url('/location-pin.svg') no-repeat 50% 50%;
  border-radius: 50%;
  cursor: pointer;
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 35px;
  /* Adjust width as needed */
  height: 35px;
  /* Adjust height as needed */
  background-color: currentColor;
  /* This will be the color of your SVG */
}

.downloadable-file-container {
  position: relative;
  display: block;
  overflow: hidden;
}

.downloadable-file.icon {
  display: flex;
}

.downloadable-file-container img.fill-in {
  position: relative;
  object-fit: cover;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.downloadable-file+p {
  font-size: 13px;
  color: #ffffff;
  opacity: 0;
  position: absolute;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  /* Linear gradient */
  bottom: 0px;
  left: 0px;
  transform-origin: bottom;
  overflow: hidden;
  z-index: 99999;
  border-radius: 0.5rem;

}

.downloadable-file:hover+p {
  opacity: 1;

}

.hover-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s ease;
  z-index: 1;
  /* Ensures the overlay is above the image */
  overflow: hidden;
}

.hover-overlay:hover::before {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.25);
  /* Dark overlay on hover */
  border-radius: 0.5rem;
}

/* HalfCircleProgress.css */
.half-circle-progress-container {
  position: relative;
  display: inline-block;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.half-circle-progress {
  transform: rotate(-90deg);
  overflow: visible;
}

.progress-bar {
  transition: stroke-dashoffset 0.6s ease 0s;
}

.progress-text {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  color: #333;
}

.details-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #00a2ff;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 40px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.structures-container {
  scroll-snap-type: both mandatory;
}

.structures-container>.structure-graph {
  scroll-snap-align: start;
  background: #ffffff;
}

.structures-container {
  overflow-x: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.structures-container::-webkit-scrollbar {
  height: 0px;
  /* For Chrome, Safari, and Opera */
}

.im-drawer {
  width: 80%;
}

.im-inspection-drawer {
  width: 80%;
  top: 3.83rem;
}

@media (min-width: 500px) {

  .im-drawer {
    width: 720px;
  }
}

.structure-table-row {
}

.client-avatar  [data-testid="flowbite-avatar-initials-placeholder"] {
  background-color: rgb(169, 169, 169) !important;
}

.client-avatar [data-testid="flowbite-avatar-initials-placeholder-text"] {
  color: white !important;
}

.drawer-background-overlay {
  z-index: 40 !important;
}

.invoice-viewer {
  aspect-ratio: 1 / 1.41;
  padding: 10%;
}

.invoice-line-item-input input {
  padding-left: 25px;
  color: rgb(107 114 128);
}

.invoice-line-item-input-span {
  position: absolute;
  top: 10.5px;
  left: 14px;
  z-index: 999;
}
.invoice-line-item-input.required input,
.invoice-line-item-input input::placeholder,
.invoice-line-item-input-span.required {
  color: #E02424;
}


.invoice-viewer * {
  font-size: 98% !important;
}

.main-sidebar {
  background-color: #002448;
}

.active-structure {
  background-color: rgb(240, 240, 240) !important;
}

.h-fit-content {
  height: fit-content;
}

.dark-text * {
  color: rgb(0, 36, 72) !important;
}

input[type="date"] {
  background-color: #0080ff;
  padding: 15px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
}

::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.structure-table-container {
  height: 100%;
  overflow: auto;
}

.invoice-control-panel {
  height: auto;
}

.alert-bar {
  /* Existing styles */
  position: fixed;
  top: 125px;
  left: 0;
  right: 0;
  z-index: 999;
  width: 50%;
  margin: auto;
  -webkit-box-shadow: 0px 15px 62px 5px rgba(77, 77, 77, 0.45);
  -moz-box-shadow: 0px 15px 62px 5px rgba(77, 77, 77, 0.45);
  box-shadow: 0px 15px 62px 5px rgba(77, 77, 77, 0.45);

  /* Animation */
  opacity: 0;
  /* Start with the element invisible */
  animation: fadeInUp 0.5s ease-out forwards;
  /* Animation name, duration, timing function, fill mode */
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
    /* Start position - 20px below the final position */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    /* End position */
  }
}

.remove-border-radius {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}


#search-bar {
  background-color: #374151;
  border: none;
  text-align: center !important;
  color: white
}

#search-bar::placeholder {
  color: white
}

.collapse-sidebar-btn {
  margin-top: 60.57px;
}

.simple-shadow {
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.10), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
}

.custom-arrow {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="6" height="4" viewBox="0 0 6 4" fill="none"><path d="M3.00733 3.66665L3.00743 3.16665C2.97736 3.16664 2.95333 3.15505 2.93943 3.14183L2.93937 3.14178L0.606038 0.9241L0.60609 0.924045L0.599702 0.918181C0.592755 0.911804 0.588716 0.905578 0.586479 0.90063C0.584276 0.895756 0.58353 0.891531 0.583497 0.887979C0.583465 0.884429 0.584133 0.88027 0.586191 0.875489C0.58828 0.870635 0.592111 0.864486 0.598808 0.85812C0.60556 0.851703 0.614982 0.845338 0.62715 0.840607C0.63935 0.835863 0.653235 0.833197 0.667769 0.833317C0.682303 0.833437 0.696073 0.836331 0.708073 0.84123C0.720039 0.846115 0.729207 0.852552 0.735713 0.858954L0.73566 0.859008L0.741956 0.864992L2.66287 2.6907L3.00733 3.01808L3.35179 2.6907L5.26806 0.86941C5.28249 0.856988 5.30587 0.846707 5.33443 0.846943C5.36413 0.847188 5.38778 0.858694 5.40152 0.871746C5.41442 0.884014 5.41677 0.895141 5.41683 0.901113C5.41688 0.906792 5.41495 0.91699 5.40396 0.928528L3.07529 3.14178L3.07523 3.14183C3.06134 3.15505 3.0373 3.16664 3.00723 3.16665L3.00733 3.66665ZM3.00733 3.66665C3.16203 3.66662 3.31038 3.60818 3.41975 3.5042L1.08641 0.502571C1.0326 0.449618 0.968236 0.407381 0.897067 0.378325C0.825898 0.349268 0.749353 0.333974 0.671898 0.333334C0.594444 0.332694 0.51763 0.346722 0.445941 0.374599C0.374251 0.402476 0.309121 0.443643 0.25435 0.495699C0.19958 0.547755 0.156265 0.609657 0.126935 0.677793C0.0976043 0.74593 0.0828451 0.818935 0.0835181 0.892551C0.0841912 0.966166 0.100283 1.03892 0.130855 1.10656C0.161427 1.1742 0.205867 1.23538 0.261581 1.28652L2.59491 3.5042C2.70428 3.60818 2.85263 3.66662 3.00733 3.66665Z" fill="%23312E8E" stroke="%23312E8E"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1.5rem;
  -webkit-appearance: none;
  /* For Safari */
  -moz-appearance: none;
  /* For Firefox */
  appearance: none;
  /* Adjust padding as needed to make space for the arrow */
  padding-right: 2rem;
  /* Example padding */
}

/* Add this if you're not using Tailwind CSS v2.0+ */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.exit-icon {
  top: 7%;
}

.image-modal {
  background-color: rgba(31, 42, 55, 0.8);
}

.inspection-map-box {
  height: 550px;
  max-height: 475px;
}

.inspection-map-box-sm {
  max-height: 350px;
}

.file-name-footer {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.10), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
} 

.alternate-bg:nth-of-type(even) {
  background-color: #F9FAFB;
}

.shorten-text {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.schedule-team-charts {
  width: 100px;
  height: 100px;
  background-color: green;
}

@media (min-width: 900px) {
  .schedule-team-charts {
    width: 100px;
    height: 100px;
    background-color: red;
  }
}

@keyframes slideOutAndHide {
  0% {
    transform: translateX(0);
  }

  90% {
    transform: translateX(-100%);
  }

  100% {
    display: none;
  }
}

@keyframes slideInAndShow {
  0% {
    transform: translateX(-100%);
    display: block;
  }
  100% {
    transform: translateX(0);
  }
}

.slideInAndShow {
  animation: slideInAndShow 500ms forwards;
}

.slideOutAndHide {
  animation: slideOutAndHide 500ms forwards;
}

.force-w-full {
  width: 100% !important;
}

.force-w-full > button {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.force-w-full button,
.force-w-full span {
  background-color: #ffffff;
  width: 100% !important;
  color: #4f545d;
  border: none !important;
  padding-right: 0 !important;
}

html body .force-w-full button:hover,
html body .force-w-full span:hover,
html body .force-w-full button:focus,
html body .force-w-full span:focus{
  border: none !important;
  background-color: #ffffff !important;
  color: rgb(0, 2, 37);
  box-shadow: none !important;
}

.force-w-full button span {
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
} 

.activity-group-date.sticky {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0; /* Adjust as needed */
  z-index: 10; /* Ensure it stays on top of other content */
  background-color: inherit; /* Match the background to ensure text readability */
}

/* Add top border to all bars */
html body .apexcharts-bar-series .apexcharts-bar {
  border-top: 5px solid white;
  margin-bottom: 5px; /* Add margin between bars */
}

.avatar-image img {
  object-fit: cover !important;
}
