@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.status-bar {
  background-color: #4CAF50;
  color: #ffffff;
  text-align: center;
}

.map-container {
  position: relative;
}

.map-speed-dial {
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 999;
}
.map-container,
.map-stuctures-container {
  height: 35rem;
}

@media (max-width: 550px) {
  .map-container,
  .map-stuctures-container {
    height: 45rem;
  }
}

.map-structure-panel {
  height: auto;
  width: 400px;
}

@media (max-width: 550px) {
  
  .map-structure-panel {
    height: 350px;
    width: 100%;
    left: 0;
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
  }
}



.im-snapping {

  scroll-snap-type: both mandatory;
}

.im-snapping > li,
.im-snapping > div {
  scroll-snap-align: start;
}

.inspections-navigation {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.im-marker {
  /* Other styles remain the same */
  -webkit-mask: url('/location-pin.svg') no-repeat 50% 50%;
  mask: url('/location-pin.svg') no-repeat 50% 50%;
  border-radius: 50%;
  cursor: pointer;
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 35px; /* Adjust width as needed */
  height: 35px; /* Adjust height as needed */
  background-color: currentColor; /* This will be the color of your SVG */
}

.downloadable-file-container {
  position: relative;
  display: block;
  overflow: hidden;
}

.downloadable-file.icon {
  display: flex;
}

.downloadable-file-container img.fill-in {
  position: relative;
  object-fit: cover;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.downloadable-file + p {
  font-size: 13px;
  color: #ffffff;
  opacity: 0;
  position: absolute;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); /* Linear gradient */  bottom: 0px;
  left: 0px;
  transform-origin: bottom;
  overflow: hidden;
  z-index: 99999;
  border-radius: 0.5rem;

}

.downloadable-file:hover + p {
  opacity: 1;

}

.hover-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s ease;
  z-index: 1; /* Ensures the overlay is above the image */
  overflow: hidden;
}

.hover-overlay:hover::before {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.25); /* Dark overlay on hover */
  border-radius: 0.5rem;
}

/* HalfCircleProgress.css */
.half-circle-progress-container {
  position: relative;
  display: inline-block;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.half-circle-progress {
  transform: rotate(-90deg);
  overflow: visible;
}

.progress-bar {
  transition: stroke-dashoffset 0.6s ease 0s;
}

.progress-text {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  color: #333;
}

.details-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #00a2ff;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 40px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.structures-container {
  scroll-snap-type: both mandatory;
}

.structures-container > .structure-graph {
  scroll-snap-align: start;
  background: #ffffff;
}

.structures-container {
  overflow-x: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.structures-container::-webkit-scrollbar {
  height: 0px; /* For Chrome, Safari, and Opera */
}

.im-drawer {
  width: 80%;
}

@media (min-width: 500px) {

  .im-drawer {
    width: 30rem;
  }  
}

.structure-table-row {
  border: none;
  border-bottom: 1px solid grey;
}

.drawer-background-overlay {
  z-index: 40;
}

.invoice-viewer {
  aspect-ratio: 1 / 1.41;
  padding: 10%;
}

.invoice-viewer * {
  font-size: 95% !important;
}

.main-sidebar {
  background-color: #002448;
}

.active-structure {
  background-color: rgb(240, 240, 240) !important;
}

.h-fit-content {
  height: fit-content;
}

.dark-text * {
  color: rgb(0, 36, 72) !important;
}

input[type="date"]{
  background-color: #0080ff;
  padding: 15px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-family: "Roboto Mono",monospace;
  color: #ffffff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.structure-table-container {
  height: 100%;
  overflow: auto;
}

.invoice-control-panel {
  height: 600px;
}

.alert-bar {
  /* Existing styles */
  position: fixed;
  top: 125px;
  left: 0;
  right: 0;
  z-index: 999;
  width: 50%;
  margin: auto;
  -webkit-box-shadow: 0px 15px 62px 5px rgba(77,77,77,0.45);
  -moz-box-shadow: 0px 15px 62px 5px rgba(77,77,77,0.45);
  box-shadow: 0px 15px 62px 5px rgba(77,77,77,0.45);

  /* Animation */
  opacity: 0; /* Start with the element invisible */
  animation: fadeInUp 0.5s ease-out forwards; /* Animation name, duration, timing function, fill mode */
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Start position - 20px below the final position */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End position */
  }
}
